body{
    padding: 0;
    margin: 0;
    background: gold;
}

.box{
    width: 400px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 30px;
    background: white;

}
.box form .login input{
    border-radius:10px;
    padding: 10px 14px;
    width: 80%;
    margin: 3px;
}
.box form .item{
    display: flex;
    flex-direction: column;
}
.box form .login{
    text-align: center;
}
.box form .item input{
    padding: 10px 14px;
    margin: 10px 14px;
    border-radius: 45px;
    border: 1px solid;
    outline: none;
}
.box form .item input:focus {
    width: 100%;
    border: 2px solid;
    border-color: green;
}
.box form .login input:hover{
    background: gold;
    color: white;
    font-size: 20px;
}
.box:hover{
    box-shadow: 5px 5px;
}

.rond{
    background: black;
    border-radius: 50%;
    border: 3px solid;
    position: absolute;
    top: 5%;
    left: 20%;
    width: 100px;
    height: 100px;
    transition:all 1s;
}
.rond:hover{
    background-color: green;
}